@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
.Header {
  height: 10vh;
  background-color: #4277ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer {
  height: 10vh;
  background-color: #4277ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer a {
  color: white;
  text-decoration: none;
}
.BuscaCep {
  height: 75.7vh;
  display: Flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.main {
  color: rgb(91, 94, 94);
  width: 600px;
  height: 70vh;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-shadow: 2px;
}
img {
  max-width: 600px;
}
.inputArea {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-around;
  margin-bottom: 10px;
}
.inputArea input {
  width: 70%;
  height: 30px;
  padding-left: 10px;
}

button {
  width: 20%;
  background-color: #4277ff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}
button:hover {
  background-color: #1a46b6;
}
.form {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}
.form input {
  width: 100%;
  height: 30px;
}
.error {
  font-weight: bold;
  color: red;
}
@media (max-width: 1300px) {
  .BuscaCep {
    flex-wrap: wrap;
  }
  .main {
    min-width: 80vw;
    height: 100%;
  }
  img {
    max-width: 80vw;
  }
  .Footer {
    display: none;
  }
}
